<div>
    <!--<div style="text-align: left; margin: 0em 1em;" class="col-sm-5 panel panel-default">
    <div class="panel-heading"><h3>LOCATION</h3></div>
    <div class="panel-body">
        <form class="form-horizontal" enctype="multipart/form-data">
            <div class="col-sm-12">
                <div class="form-group">
                    <div class="col-lg-6">
                        <label class="control-label">Add Location</label>
                        <input type="text" placeholder="Shankar Nagar, Telibandha" class="form-control">
                    </div>
                    <div class="col-lg-6">
                        <label class="control-label">Select City</label>
                        <input type="text" placeholder="Raipur, Bhilai" class="form-control">
                    </div>
                    <div style="text-align: center;" class="col-lg-12">
                        <button type="button" style="margin-top: 30px;" class="mb-sm btn btn-success">ADD LOCATION</button>
                    </div>
                </div>
            </div>
        </form>
    </div>

</div>-->
    <div class="col-sm-12">
        <div style="text-align: left;" class="col-sm-12 panel panel-default">
            <div class="panel-heading"><h3>LOCATION</h3></div>
            <div class="panel-body">
                <form class="form-horizontal" enctype="multipart/form-data">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <div class="col-lg-3">
                                <label class="control-label">Add Location</label>
                                <input type="text" ng-model="location" placeholder="Add Pincode" class="form-control">
                            </div>
                            <div class="col-lg-3">
                                <label class="control-label">Select City</label>
                                <select type="text" ng-model="city" placeholder="Management, Law" class="form-control">
                                    <option value="">Select Category</option>
                                    <option ng-repeat="city in cities" ng-value="city">{{city}}</option>
                                </select>
                            </div>
                            <div class="col-lg-3">
                                <label class="control-label">Select State</label>
                                <select type="text" ng-model="state" placeholder="Management, Law" class="form-control">
                                    <option value="">Select Category</option>
                                    <option ng-repeat="state in states" ng-value="state">{{state}}</option>
                                </select>
                            </div>
                            <div class="col-lg-3">
                                <label class="control-label">Add Pincode</label>
                                <input type="text" ng-model="pincode" placeholder="Add Pincode" class="form-control">
                            </div>
                            <div style="text-align: center;" class="col-lg-12">
                                <button
                                        ng-disabled="location == '' || city == '' || state == '' || pincode == ''"
                                        ng-click="addLocation(city, state, location, pincode)"
                                        type="button"
                                        style="margin-top: 30px;"
                                        class="mb-sm btn btn-success">ADD LOCATION</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>

        </div>
    </div>

<!--<div class="col-sm-12">
    <div style="" class="col-sm-12 panel panel-default">
        <div class="panel-heading"></div>
        &lt;!&ndash; START table-responsive&ndash;&gt;
        <div class="table-responsive">
            <table id="table-ext-1" class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th>UID</th>
                        <th>State</th>
                        <th>City</th>
                        <th>Sub-City</th>
                        <th>Pincode</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>@twitter</td>
                        <td>Larry</td>
                        <td>the Bird</td>
                        <td>the Bird</td>
                        <td>
                            <label class="switch">
                                <input type="checkbox" checked="checked">
                                <span></span>
                            </label>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        &lt;!&ndash; END table-responsive&ndash;&gt;
        <div class="panel-footer">
            <div class="row">
                <div class="col-lg-2">
                    <div class="input-group">
                        <input type="text" placeholder="Search" class="input-sm form-control">
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-sm btn-default">Search</button>
                        </span>
                    </div>
                </div>
                <div class="col-lg-8"></div>
                <div class="col-lg-2">
                    <div class="input-group pull-right">
                        <select class="input-sm form-control">
                            <option value="0">Bulk action</option>
                            <option value="1">Delete</option>
                            <option value="2">Clone</option>
                            <option value="3">Export</option>
                        </select>
                        <span class="input-group-btn">
                            <button class="btn btn-sm btn-default">Apply</button>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>-->
</div>
