<div class="col-sm-4 ProfileRightBar" style="height: 500%; background: #EEEEEE; padding-left: 1em;">
    <div class="col-sm-12" style="background: white; height: 100%;border-radius: 5px;">
        <h4><i class="icon stroke icon-Pointer"></i> Address</h4>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d4423.250284024546!2d75.70113024996203!3d31.254174366990114!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x391a5a594d22b88d%3A0x4cc934c58d0992ec!2sLovely+Professional+University!5e0!3m2!1sen!2sin!4v1460717328009" width="428" height="150" frameborder="0" style="border:0;" allowfullscreen></iframe>
        <h6>
            Near Chaheru Railway Station, Delhi-Jalandhar G.T. Road, NH- 1, Phagwara 
            Jalandhar - 144411 
            Punjab , India
        </h6>
        <h6>
            <i class="icon stroke icon-Phone2"></i>
            Tel. No.: 18001024431 , 01824-404404
        </h6>
        <h6>
            <i class="icon stroke icon-WorldWide"></i>
            Website: www.example.com
        </h6>
    </div>
    <div class="col-sm-12" style="background: #5CB85C; height: auto; border-radius: 5px; margin-top: 1em; text-align: center;">
        <h4 style="text-align: center; color: white;"> Download Brochure <i class="fa fa-arrow-circle-down"></i></h4>
    </div>
</div>
