<div class="col-sm-12" style="background: white; border-top: 1px dotted #AD33C5; border-bottom: 1px dotted #AD33C5;">
    <div class="col-sm-12" style="border-bottom: 1px solid #EEEEEE; padding: 1em 1em; ">
        <div class='col-sm-2'><img style="height: 5em;" src='img/LPU.jpg'/></div>
        <div class="col-sm-10">
            <h2 style="color: #2377AF;">Lovely Professional University, [LPU] Jalandhar</h2>
            <article style="color: black;"><i style="color: blue; font-size: 15px;" class="icon stroke icon-Pointer"></i> Jalandhar, India</article>
        </div>
    </div>
    <div class="col-sm-12 SearchDetails2">
        <h6 style="padding-left: 1em;font-family: din, 'Helvetica Neue', Helvetica, Arial, sans-serif; font-weight: bold; color: black">COURSE OFFERED</h6>
        <div class="col-sm-4 tab">
            <div style="background: #EEEEEE; font-size: 13px; border-radius: 3px;" class="col-sm-12"><div class="col-sm-8" style=" padding: 5px 0px; ">BE [Computer Science]</div><div class="col-sm-4" style="background: #40CFD0; color: white; padding: 5px 0px;border-top-right-radius: 3px;border-bottom-right-radius: 3px; font-size: 17px; font-weight: bold;"><i class="fa fa-rupee"></i> 37 k/yr</div></div>
        </div>
        <div class="col-sm-4 tab">
            <div style="background: #EEEEEE; font-size: 13px; border-radius: 3px;" class="col-sm-12"><div class="col-sm-8" style=" padding: 5px 0px; ">BE [Computer Science]</div><div class="col-sm-4" style="background: #40CFD0; color: white; padding: 5px 0px;border-top-right-radius: 3px;border-bottom-right-radius: 3px; font-size: 17px; font-weight: bold;"><i class="fa fa-rupee"></i> 37 k/yr</div></div>
        </div>
        <div class="col-sm-4 tab">
            <div style="background: #EEEEEE; font-size: 13px; border-radius: 3px;" class="col-sm-12"><div class="col-sm-8" style=" padding: 5px 0px; ">BE [Computer Science]</div><div class="col-sm-4" style="background: #40CFD0; color: white; padding: 5px 0px;border-top-right-radius: 3px;border-bottom-right-radius: 3px; font-size: 17px; font-weight: bold;"><i class="fa fa-rupee"></i> 37 k/yr</div></div>
        </div>
    </div>
    <div class="col-sm-12 SearchDetails3">
        <div class="col-sm-2 Rank">
            <div class="col-sm-12" style="border-bottom: 2px solid #AD33C5;">INSTITUTION RANK</div>
            <span class="col-sm-12" style="height: 5px;"></span>
            <div class="col-sm-12 ColorBox"><span>120</span></div>
        </div>
        <div class="col-sm-2 Rank">
            <div class="col-sm-12" style="border-bottom: 2px solid #AD33C5;">STUDENTS RATING</div>
            <span class="col-sm-12" style="height: 5px;"></span>
            <div class="col-sm-12 ColorBox"><span style="background: #3D8EF0;">310</span></div>
        </div>
        <div class="col-sm-2 Rank">
            <div class="col-sm-12" style="border-bottom: 2px solid #AD33C5;">STUDENTS REVIEW</div>
            <span class="col-sm-12" style="height: 5px;"></span>
            <div class="col-sm-12 ColorBox"><span style="background: #5CB85C;">130</span></div>
        </div>
        <div class="col-sm-2 Rank">
            <div class="col-sm-12" style="border-bottom: 2px solid #AD33C5;">CONNECTIONS</div>
            <span class="col-sm-12" style="height: 5px;"></span>
            <div class="col-sm-12 ColorBox"><span style="background: #FFA500;">110</span></div>
        </div>
    </div>
    <div class="col-sm-12" style="text-align: right;"><a>View Profile <i class="fa fa-arrow-circle-right" aria-hidden="true"></i></a></div>
</div>
