<script type="text/javascript" src="/static/mainApp/sourceMin/cust.all.min.js"></script>
<script data-main="/static/adminApp/js/requireJS/requireJS.js" src="https://cdnjs.cloudflare.com/ajax/libs/require.js/2.2.0/require.min.js"></script>
{% load staticfiles %}
<div>
    <div ui-view></div>
</div>
<script>
    var app = angular.module('mainCollegeApp', ["ui.router", "ui.bootstrap",
        'mainCollegeApp.dashboard',

        'mainCollegeApp.addStateCityApp',
        'mainCollegeApp.subCityPincodeApp',
        'mainCollegeApp.viewLocationsApp',

        'mainCollegeApp.collegeManagementApp',
        'mainCollegeApp.coachingManagementApp',

        'mainCollegeApp.schoolRegistrationApp',
        'mainCollegeApp.collegeRegistrationApp',
        'mainCollegeApp.coachingRegistrationApp',

        'mainCollegeApp.searchReview',
        'mainCollegeApp.collegeReview',
        'mainCollegeApp.schoolReview',
        'mainCollegeApp.instituteReview']);

    app.controller('mainCollegeCtrl', function($rootScope){

    });




    app.config(function($locationProvider, $stateProvider, $urlRouterProvider) {

        //$locationProvider.html5Mode(true);

        //$urlRouterProvider.otherwise('/review');

        $urlRouterProvider.when("", "/admin/dashboard");

        $urlRouterProvider.when("/", "/admin/dashboard");

        $urlRouterProvider.when("/admin", "/admin/dashboard");

        // For any unmatched url, send to /route1
        $urlRouterProvider.otherwise("/admin/dashboard");

        $stateProvider

                .state('admin', {

                    url: '/admin',

                    templateUrl: '/static/adminApp/templates/adminView.html'

                })

                .state('admin.dashboard', {

                    url: '/dashboard',

                    templateUrl: '/static/adminApp/templates/dashboard/dashboard.html',

                    controller: 'dashboardCtrl'

                })

                .state('admin.locationstatecity', {

                    url: '/locationstatecity',

                    templateUrl: '/static/adminApp/templates/locationManagement/AddStateCity.html',

                    controller: 'addStateCityCtrl'

                })

                .state('admin.locationstatepin', {

                    url: '/locationstatepin',

                    templateUrl: '/static/adminApp/templates/locationManagement/AddSubCityPin.html',

                    controller: 'subCityPincodeCtrl'

                })

                .state('admin.locationview', {

                    url: '/locationview',

                    templateUrl: '/static/adminApp/templates/locationManagement/ViewLocations.html',

                    controller: 'viewLocationsCtrl'

                })






                /*From here course management routes*/
                .state('admin.coursemanagementcollege', {

                    url: '/coursemanagementcollege',

                    templateUrl: '/static/adminApp/templates/courseManagement/CollegeMaster.html',

                    controller: 'collegeManagementCtrl'

                })

                .state('admin.coursemanagementcoaching', {

                    url: '/coursemanagementcoaching',

                    templateUrl: '/static/adminApp/templates/courseManagement/CoachingMaster.html',

                    controller: 'coachingManagementCtrl'

                })








                /*From here institute registration routes*/
                .state('admin.instituteregistrationschool', {

                    url: '/instituteregistrationschool',

                    templateUrl: '/static/adminApp/templates/instituteRegistration/SchoolRegistration.html',

                    controller: 'schoolRegistrationCtrl'

                })

                .state('admin.instituteregistrationcollege', {

                    url: '/instituteregistrationcollege',

                    templateUrl: '/static/adminApp/templates/instituteRegistration/CollegeRegistration.html',

                    controller: 'collegeRegistrationCtrl'

                })

                .state('admin.instituteregistrationcoaching', {

                    url: '/instituteregistrationcoaching',

                    templateUrl: '/static/adminApp/templates/instituteRegistration/CoachingRegistration.html',

                    controller: 'coachingRegistrationCtrl'

                })









                .state('review', {

                    url: '/review',

                    templateUrl: '/static/reviewApp/templates/ReviewIndex.html'

                })

                .state('review.search', {

                    url: '/search',

                    templateUrl: '/static/reviewApp/templates/ReviewSearch.html',

                    controller: 'searchReviewCtrl'

                })

                .state('review.college', {

                    url: '/college',

                    templateUrl: '/static/reviewApp/templates/CollegeReview.html',

                    controller: 'collegeReviewCtrl'

                })

                .state('review.school', {

                    url: '/school',

                    templateUrl: '/static/reviewApp/templates/SchoolReview.html',

                    controller: 'schoolReviewCtrl'

                })

                .state('review.institute', {

                    url: '/institute',

                    templateUrl: '/static/reviewApp/templates/InstitutionReview.html',

                    controller: 'instituteReviewCtrl'

                })        ;



    });

    app.config(function($httpProvider) {

        $httpProvider.defaults.xsrfCookieName = 'csrftoken';

        $httpProvider.defaults.xsrfHeaderName = 'X-CSRFToken';

    });

    app.directive('focusMe', function($timeout) {
        return {
            scope: { trigger: '=focusMe' },
            link: function(scope, element) {
                scope.$watch('trigger', function(value) {
                    if(value === true) {
                        element[0].focus();
                        scope.trigger = false;
                    }
                });
            }
        };
    });

</script>