<header class="header">
    <!-- end top-header  -->

    <div class="container">
        <div class="row">
            <div class="col-xs-12"> <a class="header-logo" href="javascript:void(0);"><img class="header-logo__img" src="assets/img/logo.png" height="50" width="195" alt="Logo"></a>
                <div class="header-inner">
                    <div class="header-search">
                        <div class="navbar-search">
                            <form id="search-global-form">
                                <div class="input-group">
                                    <input type="text" placeholder="Type your search..." class="form-control" autocomplete="off" name="s" id="search" value="">
                                    <span class="input-group-btn">
                                        <button type="reset" class="btn search-close" id="search-close"><i class="fa fa-times"></i></button>
                                    </span> 
                                </div>
                            </form>
                        </div>
                    </div>
                    <nav class="navbar yamm">
                        <div class="navbar-header hidden-md  hidden-lg  hidden-sm ">
                            <button type="button" data-toggle="collapse" data-target="#navbar-collapse-1" class="navbar-toggle"><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
                        </div>
                        <div id="navbar-collapse-1" class="navbar-collapse collapse">
                            <ul class="nav navbar-nav">
                                <li><a href="index.html">Home<span class="nav-subtitle"></span></a></li>
                                <li><a href="Reviews/Review.html">WRITE A REVIEW<span class="nav-subtitle"></span></a></li>
                                <li><a style="background: #AD33C5; color: white;" href="#">FOR INSTITUTION<span class="nav-subtitle"></span></a></li>
                                <li><a href="index.html#">LOGIN/SIGN UP<span class="nav-subtitle"></span></a></li>
                            </ul>
                        </div>
                    </nav>
                    <!--end navbar --> 

                </div>
                <!-- end header-inner --> 
            </div>
            <!-- end col  --> 
        </div>
        <!-- end row  --> 
    </div>
    <!-- end container--> 
</header>
<!-- end header -->
