<div class="col-sm-1"></div>
<div style="text-align: left;" class="col-sm-10 panel panel-default">
    <div class="panel-heading"><h3>COLLEGE REGISTRATION</h3></div>
    <div class="panel-body">
        <form name="collegeForm" class="form-horizontal">
            <div class="col-sm-12">
                <div class="col-sm-3">
                    <img style="height: 160px; width: 160px; border: 1px solid silver; border-radius: 5px;" id="Image" src="{{collegeImageURL}}"  />
                    <div class="fileUpload btn btn-primary">
                        <span>Upload</span>
                        <input
                                type="file"
                                class="upload"
                                accept="image/*"
                                name="Image"
                                ng-file-select="onFileSelect($files,'collegeImage')"/>
                    </div>
                </div>
                <div class="col-sm-9">
                    <div class="form-group">
                        <div class="col-lg-12" ng-class="{'has-error': collegeNameError}">
                            <label class="control-label">College Name</label>
                            <input type="text" focus-me="collegeNameFocus" ng-model="collegeRegistrationJSON.data.college_name" placeholder="College Name" class="form-control" name="college_name">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-lg-12">
                            <div style="padding: 0; margin: 0;" class="col-sm-8" ng-class="{'has-error': collegeLocationError}">
                                <label class="control-label">Location</label>
                                <input type="text" focus-me="collegeLocationFocus" ng-model="collegeRegistrationJSON.data.location" placeholder="Location" class="form-control" name="location">
                            </div>
                            <div class="col-sm-4" ng-class="{'has-error': collegeEstablishmentError}">
                                <label class="control-label">Establishment</label>
                                <input type="number" focus-me="collegeEstablishmentFocus" ng-model="collegeRegistrationJSON.data.establishment" placeholder=" " class="form-control" name="establishment">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12">
                <div class="col-sm-6">
                    <div class="form-group">
                        <div class="col-lg-12" ng-class="{'has-error': collegeDescriptionError}">
                            <label class="control-label">Description</label>
                            <textarea focus-me="collegeDescriptionFocus" ng-model="collegeRegistrationJSON.data.description" class="form-control" name="description"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-lg-12" ng-class="{'has-error': collegeAffiliationError}">
                            <label class="control-label">Affiliation</label>
                            <input type="text" focus-me="collegeAffiliationFocus" ng-model="collegeRegistrationJSON.data.affiliation" placeholder=" " class="form-control" name="affiliation">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-lg-12" ng-class="{'has-error': collegeWebsiteError}">
                            <label class="control-label">Website</label>
                            <input type="text" focus-me="collegeWebsiteFocus" ng-model="collegeRegistrationJSON.data.website" placeholder=" " class="form-control" name="website">
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <div class="col-lg-12" ng-class="{'has-error': collegeAddressError}">
                            <label class="control-label">Address</label>
                            <textarea focus-me="collegeAddressFocus" ng-model="collegeRegistrationJSON.data.address" class="form-control" name="address"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-lg-12">
                            <div class="col-sm-6">
                                <label class="control-label">Land line Number</label>
                                <input ng-model="collegeRegistrationJSON.data.landline_num" type="text" placeholder=" " class="form-control" name="landline_num">
                            </div>
                            <div class="col-sm-6" ng-class="{'has-error': collegeMobileNoError}">
                                <label class="control-label">Mobile Number</label>
                                <input focus-me="collegeMobileNoFocus" ng-model="collegeRegistrationJSON.data.mobile_num" type="text" placeholder=" " class="form-control" name="mobile_num">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-lg-12" ng-class="{'has-error': collegeForm.emailid.$error.email || collegeEmailError}">
                            <label class="control-label">Email</label>
                            <input focus-me="collegeEmailFocus" ng-model="collegeRegistrationJSON.data.emailid" type="email" placeholder=" " class="form-control" name="emailid">
                        </div>
                    </div>
                </div>
            </div>

            <div style="text-align: left;" class="col-sm-12 panel panel-default">
                <div class="panel-heading"><h4>FACILITIES</h4></div>
                <div class="panel-body">
                    <div class="col-sm-10">
                        <label ng-repeat="facility in collegeRegistrationJSON.data.facilities" class="checkbox-inline c-checkbox">
                            <input ng-model="facility.value" id="inlineCheckbox10" type="checkbox" value="option1" ng-true-value="1" ng-false-value="0">
                            <span class="fa fa-check"></span>{{facility.text}}
                        </label>

                    </div>
                </div>
            </div>
            <div style="text-align: left;" class="col-sm-12 panel panel-default">
                <div class="panel-heading"><h4>ADD COURSES</h4></div>
                <div class="panel-body" ng-repeat="course in collegeRegistrationJSON.data.courses">
                    <div class="col-sm-3">
                        <div class="form-group">
                            <div class="col-lg-12">
                                <label class="control-label">Course</label>
                                <input type="password" placeholder="Course" class="form-control" name="course">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <div class="col-lg-12">
                                <label class="control-label">Duration</label>
                                <input type="password" placeholder="Duration" class="form-control" name="duration">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <div class="col-lg-12">
                                <label class="control-label">Fee</label>
                                <input type="password" placeholder="Fee" class="form-control" name="fee">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <div class="col-lg-12">
                                <label class="control-label">Entrance</label>
                                <input type="password" placeholder="Fee" class="form-control" name="entrance">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <button ng-click="removeCollegeCourse($index)" ng-disabled="hideCollegeCoureseRemoveButton"  style="margin-top: 30px;" type="button" class="mb-sm btn btn-danger"><em class="fa fa-minus"></em> &nbsp;&nbsp;Remove</button>
                    </div>
                </div>
                <div class="col-sm-3">
                    <button ng-click="addCollegeCourse()" style="margin-top: 30px;" type="button" class="mb-sm btn btn-info"><em class="fa fa-plus"></em> &nbsp;&nbsp;Add More</button>
                </div>
            </div>
            <div id="AddMoreCollege" class="col-sm-12"></div>
            <div style="text-align: left;" class="col-sm-12 panel panel-default">
                <div class="panel-heading"><h4>PLACEMENTS</h4></div>
                <div class="panel-body">
                    <div class="col-sm-6 form-group">
                        <div class="col-lg-12">
                            <label class="control-label">Highest Package</label>
                            <input ng-model="collegeRegistrationJSON.data.highest_package" type="text" placeholder="Fee" class="form-control" name="highest_package">
                        </div>
                    </div>
                    <div class="col-sm-6 form-group">
                        <div class="col-lg-12">
                            <label class="control-label">Average Package</label>
                            <input ng-model="collegeRegistrationJSON.data.average_package" type="text" placeholder="Fee" class="form-control" name="average_package">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12">
                <div style="text-align: center;" class="form-group">
                    <button ng-click="validateCollegeRegistrationForm(collegeRegistrationJSON)" class="mb-sm btn btn-success">Submit</button>
                </div>
            </div>
        </form>
    </div>

</div>
</div>
